body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    background-color: white;
}

body.dark {
    background-color: #292c35;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.clearFix {
    clear: both;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}


#mainHeader {
    background: brown;
    color: white;
}

#mainHeader h2 {
    background-color: black;
    color: white;
}

#mainHeader h2:hover {
    background-color: #aaa;
    color: aquamarine;
}
#mainNav{
    background: #ccc;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainNav li {
    display: inline;
    padding: 5px 10px;
}

#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}
#mainNav a:hover {
    color: yellow
}

#jumbo {
    background-image: url('../images/bg.png');
    background-position: center center;
    min-height: 150px;
    text-align: center;
}
#jumbo h1 {
    color: white;
    font-size: 45px;
    padding-top: 25px;
    line-height: 1.1em;
}

#main {
    padding-top: 25px;
    margin: auto;
    width: 70%;
    border: 1px solid #000000;
    padding: 35px;
    overflow: auto;

}
#sidebar {
    float: left;
    width: 30%;
    padding: 10;
    border-right: 1px solid #333;
    box-sizing: border-box;
}

#mainFooter {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

}

@media (max-width: 300px) {
    #main, #sidebar {
        width: 100%;
        float: none;
        border: none;
    }
}

#pExample {
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    position: relative;
    border-radius: 30px 0;
}

#pExample span:first-child {
position: absolute;
bottom: 20px;
right: 100px;
font-style: italic;
}


#pExample span:last-child{
    position: absolute;
    top: 100px;
    left: 30px;
}

#fixed {
    position: fixed;
    bottom: 0px;
    right: 50px;
    background: orange;
    padding: 5px;
}
/* p{
    margin: auto;
    border:3px dotted green;
    padding: 10px 20px 10px 20px;
} */


#altNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
color: white;
text-transform: uppercase;
letter-spacing: 5px;
font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 2px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 80%) {
    .nav-links{
        width: 70%;
    }
}

@media screen and (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transfrom: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

/* dark-mode 13/8  */

.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    padding: 5px;
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    position: relative;
    justify-content: space-between;
}

.ball {
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}


.fa-moon-o {
    color: #f1c40f;
}

.fa-sun-o {
    color: #f39c12
}
